p {
  font-family: 'Open Sans Condensed';
}

@media screen and (min-width: 360px) {
  .select{
    padding: 10px;
  }
  .nav-mobile{
    font-size:2rem;
  }
}

/* head section */
#head {
  background-color:#ff4c68;
  padding: 3% 3% 18%;
}
/* navbar  */
.icon{
  font-size: 3rem;
}
.navbar{
  font-family: 'Open Sans Condensed';
  font-size: 1.5rem;
}
.nav-head {
  font-size: 3rem;
}
.nav-item {
  margin-left: 15px;
}
.dropmenu {
  font-size: 1.5rem;
}
/* Title section */
.Headings{
  color:  #EEEEEE;
  margin: 10% 20% 5%;
  text-align: center;
}
.BigHeading{
  font-size: 4rem;
  font-family: 'Sacramento';
}
.SubHeading{
  font-family: 'Open Sans Condensed';
  margin: 3% 10%;
}

/* selectors */
.selector{
  padding: 0 20%;
  text-align: center;
}
.select{
  font-family: 'Open Sans Condensed';
}

.ButtonCol{
  margin-top: 5px;
}

/* Events section */
#Birthdays {
  padding: 10% 2% 11%;
  background-color: #EEEEEE;
  text-align: center;
}

#Business {
  padding: 10% 2% 21%;
  background-color: #EEEEEE;
  text-align: center;
}

#DjNights {
  padding: 10% 2% 11%;
  background-color: #EEEEEE;
  text-align: center;
}

#HoliEvents {
  padding: 10% 2% 11%;
  background-color: #EEEEEE;
  text-align: center;
}

#Weddings {
  padding: 10% 2% 11%;
  background-color: #EEEEEE;
  text-align: center;
}

#EventHeading {
  font-family: 'Sacramento';
  color:#ff4c68;
  font-size: 4rem;
  margin-top: 30px;
}

#EventPara {
  font-family: 'Open Sans Condensed';
  font-size: 2rem;
  margin-top: 30px;
}

/* Services section */
.heading {
  font-family: 'Sacramento';
  font-size: 2.5rem;
  color: #EEEEEE;
}

.ServiceHead{
  font-family: 'Sacramento';
  font-size: 4rem;
  text-align: center;
  color: #EEEEEE;
}

.ServicesList{
  font-family: 'Open Sans Condensed';
font-size: 1.5rem;
}

.container{
  margin-top: 5%;
}

#Services {
  padding: 5% 2% 5%;
  line-height: 3rem;
  background-color:#ff4c68;
}

/* About us */
#Aboutus{
  padding: 4% 9% 7%;
  background-color: #EEEEEE;
  font-family: 'Sacramento';
  text-align: center;
}

.AboutusHead{
  font-size: 4rem;
  color: #ff4c68;
  margin-bottom: 5%;
}

.AboutusSubhead{
  color: #ff4c68;
  font-size: 3rem;
  margin-bottom: 5%;
}

.AboutusPara{
  font-size: 2rem;
}

/* Contact us  */
#Contact {
  background-color:#ff4c68;
  padding: 5% 5% 10%;
  text-align: center;
  font-size: 1.5rem;
}

.ContactHead {
  font-size: 3rem;
  font-family: 'Sacramento';
  color:  #EEEEEE;
  margin-bottom: 3%;
}

.cicons{
padding: 2%;
  font-size: 2rem;
  margin: 10px;
}

/* footer */
#footer {
  background-color: #EEEEEE;
  padding: 30px;
  text-align: center;
}

.ficons {
  padding: 1%;
  font-size: 1.5rem;
  margin: 10px;
}
